<form action="/predict" method="GET">

Sex: 
<select name="sex">
<option value="0">Male</option>
<option value="1">Female</option>
</select>
<br></br>

Age:
<select name="age">
<option value="0"><1</option>
<option value="1">1-17</option>
<option value="2">18-44</option>
<option value="3">44-65</option>
<option value="4">65+</option>
</select>
<br></br>

Behavior:
<select name="beh_id">
<option value="0">Weightlifting</option>
<option value="1">Yoga</option>
<option value="2">Cardio - Low Impact</option>
<option value="3">Cardio - High Impact</option>
<option value="4">Physical Therapy</option>
<option value="5">Vegan</option>
<option value="6">Low Carb</option>
<option value="7">Cardio - Low Impact</option>
<option value="8">Glutton Free</option>
<option value="9">Organic Foods</option>
<option value="10">Others</option>
</select>
<br></br>

Zip Code: 
<input type="text" name="zip_code">
<br></br>

<input type="submit" value="Predict!">

</form>
