<form action="/predict" method="GET">

Sex: 
<select name="sex">
<option value="0">Male</option>
<option value="1">Female</option>
</select>
<br></br>

Age:
<select name="age">
<option value="0"><1</option>
<option value="1">1-17</option>
<option value="2">18-44</option>
<option value="3">44-65</option>
<option value="4">65+</option>
</select>
<br></br>

  0: "Frequent Exercise",
               1: "Good Diet",
               2: "Bad Diet",
               3: "Alcohol",
               4: "Lack of Sleep",
               5: "Smoking",
               6: "Negative Mental State",
               7: "Others",

Behavior:
<select name="beh_id">
<option value="0">Frequent Exercise</option>
<option value="1">Good Diet</option>
<option value="2">Bad Diet</option>
<option value="3">Alchol</option>
<option value="4">Lack of Sleep</option>
<option value="5">Smoking</option>
<option value="6">Negative Mental State</option>
<option value="7">Others</option>
</select>
<br></br>

Zip Code: 
<input type="text" name="zip_code">
<br></br>

<input type="submit" value="Predict!">

</form>
